body{
  text-align: center;
  font-family: cursive;
  background-image: url(../img/boneFire.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

table{
  background-color: gray;
  margin:0 auto;
  margin-top: 20px;
}

.platform {
  background-position-x: 50%;
  background-position-y: -20px;
  background-image: url(../img/wooden.png);
  background-repeat: no-repeat;
  background-size: 150% 500px;
}

.cell {
  background-image: url(../img/bricksDark.png);
  background-repeat: no-repeat;
  background-size: contain;  
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 1.5em;
}

.cell:hover{
  background-image: url(../img/bricksHover.png);
  background-repeat: no-repeat;
  background-size: contain; 
  cursor: pointer;
}

#shown{
  background-image: url(../img/bricksLight.png);
  background-repeat: no-repeat;
  background-size: contain; 

}

#flaged{
  background-image: url(../img/bricksRed.png);
}

button{
  background-image: url(../img/wood.jpg);
  background-repeat: repeat-x;
  background-size: 100px; 
  font-family: fantasy;
  opacity: 1;
  margin-bottom: 5px;
}

button:hover{
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: lightcyan;
  background-color: black;
  border-color: black;
  cursor: pointer;
  opacity: 1;
}

.timer{
  position: 50% ;
  text-align: center;
  background-image: url(../img/wood.jpg);
  background-repeat: repeat-x;
  border:none;
}

.undo{
  height: fit-content;
  width: fit-content;
  border:none;
}

.safe{
  height: fit-content;
  width: fit-content;
  border:none;
}


.hint{
  height: fit-content;
  width: fit-content;
  border:none;
}

.manual{
  height: fit-content;
  width: fit-content;
  border:none;
}

.sevenBoom{
  height: fit-content;
  width: fit-content;
  border:none;
}

h2{
  background-color: black;
  color: rgb(255, 230, 0);
  text-shadow:3px 3px 5px rgb(255, 0, 0);
  display: none;
}
h3{
  background-color: black;
  color: rgb(255, 0, 0);
  display: none;
}